@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&family=Nunito&display=swap');

.title-modulo{
    color: #265D80;
    font-family: Fira Sans;
    
}

.titulo-navbar{
    font-family: Fira Sans;
}

.texto-modales{
    font-family: Nunito;
}

.texto-body{
    font-family: Nunito;
    color: white;
    text-align: center;
    text-justify: auto;
}

.banner-negro{
    
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
    height: 36rem;
    max-width: auto;
    
}

body {
    background-color: #212633;
}
.contenido{
    
    background-color: #747E99;
}

.imgw{
    max-width: 100%; /* La imagen no superará el ancho del contenedor */
      height: auto; /* Se ajusta automáticamente la altura para mantener la proporción */
      display: block; /* Elimina el espacio adicional por debajo de la imagen */
      margin: 0 auto; /* Centra la imagen horizontalmente */
}